{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
        
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
                <h1 class="display-4">LRM construction</h1>    
            
                <nav class="navbar navbar-expand-lg navbar-inner">
            
            
                        <!----<a class="navbar-brand" href="/">LRM Contruction</a>-->
            
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class ="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">About</a>
                                </li>   
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Services</a>
                                </li> 
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Gallery</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
            
                    </nav>
            
                <img src="../static/images/floorplan_crop0.jpg" class="img-fluid" alt="Responsive image">
        </div>
    </div>
    
    
    <div class="container p-5">
        
        <div class="row">            
            <div class="col-md-6">    
                <img src = "../static/images/myself.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-md-6 text-wrap">
                <h4 class="text-center display-4">About Us</h3>
                <p class="lead"> 
                Hi, I'm Lincoln. I'm a contractor operating in the Greater Toronto Area.
                Over the past 5 years, I have built a business helping residential and commercial
                clients improve and add value to thier properties. 
                </p>
                
                <p class="lead"> 
                I have extensive experience in home renovations, demolition, kitchens, and landscaping.
                You name it, I've done it. And now, I'd like to do it for you. In us, you will find a
                service that is professional, dependable and always delivers on time and on budget.
                </p>
            </div>
        </div>           
    </div>        

    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h1 class="display-4">Our Services</h1>
            <div class="container p-5">
                <div class="row">
                    <div class="col-md-4 text-wrap">
                        <h4 class="text-center lead">Renovations</h4>
                        <p class="lead"> 
                            I have extensive experience in home renovations, demolition, kitchens, and landscaping.
                            You name it, I've done it. And now, I'd like to do it for you. In us, you will find a
                            service that is professional, dependable and always delivers on time and on budget.
                        </p>
                    </div>
                    <div class="col-md-4 text-wrap">
                        <h4 class="text-center lead">Landscaping</h4>
                        <p class="lead"> 
                            I have extensive experience in home renovations, demolition, kitchens, and landscaping.
                            You name it, I've done it. And now, I'd like to do it for you. In us, you will find a
                            service that is professional, dependable and always delivers on time and on budget.
                        </p>
                    </div>
                    <div class="col-md-4 text-wrap">
                        <h4 class="text-center lead">Demolitions</h4>
                        <p class="lead"> 
                            I have extensive experience in home renovations, demolition, kitchens, and landscaping.
                            You name it, I've done it. And now, I'd like to do it for you. In us, you will find a
                            service that is professional, dependable and always delivers on time and on budget.
                        </p>
                    </div>
                </div>    
            </div>
        </div>
    </div>

    <div class="container-fluid">
    <h1 class="display-4">Gallery</h1>
    <div class="container p-5">
        
            <div class="row container pb-3">            
                <div class="col-md-4">    
                    <img src = "../static/images/bathroom.jpg" class="img-fluid" alt="Responsive image">
                </div>    
                <div class="col-md-4">    
                        <img src = "../static/images/bathroom.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-4">    
                        <img src = "../static/images/bathroom.jpg" class="img-fluid" alt="Responsive image">
                </div>    
            </div>
            <div class="row container py-3">            
                    <div class="col-md-4">    
                        <img src = "../static/images/painting.jpg" class="img-fluid" alt="Responsive image">
                    </div>    
                    <div class="col-md-4">    
                            <img src = "../static/images/painting.jpg" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-md-4">    
                            <img src = "../static/images/painting.jpg" class="img-fluid" alt="Responsive image">
                    </div>    
            </div>
            <div class="row container pt-3">            
                    <div class="col-md-4">    
                        <img src = "../static/images/floorplan.jpg" class="img-fluid" alt="Responsive image">
                    </div>    
                    <div class="col-md-4">    
                            <img src = "../static/images/floorplan.jpg" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-md-4">    
                            <img src = "../static/images/floorplan.jpg" class="img-fluid" alt="Responsive image">
                    </div>    
            </div>
    </div>    
    </div>      

    
            
{% endblock %}    
